{% extends 'main/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% include '_message.html' %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-center align-items-center container">
        <div class="col-lg-4 align-items-left shadow-lg p-3 mb-5 bg-white rounded">
            {{ render_form(form, action='', method='post', button_map={'submit': 'primary'}) }}
        </div>
    </div>
{% endblock %}