{% extends 'main/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h3>Your profile information</h3>
            <form action="" method="post" class="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.first_name) }}
                {{ wtf.form_field(form.last_name) }}
                {{ wtf.form_field(form.messenger_type) }}
                {{ wtf.form_field(form.messenger) }}
                <input type="submit" value="Save" class="btn btn-primary"><br>
                <a href="{{ url_for('auth.change_password') }}">Change password</a>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-2">
            <h3>Reports</h3>
            <h5>General:</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ url_for('reports.all_actions_report') }}">All clicks</a></li>
                <li class="list-group-item"><a href="{{ url_for('reports.all_links_report') }}">All links</a></li>
                <li class="list-group-item"><a href="{{ url_for('reports.all_days_report') }}">All days</a></li>
            </ul>
            <p></p>
            <h5>Current link:</h5>
            <ul class="list-group list-group-flush">
                {% for link in links %}
                    <li class="list-group-item"><a href="{{ url_for('reports.current_link_report', link_id=link.id) }}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}