{% extends 'base.html' %}

{% block content %}

    <H2>All actions</H2>

    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Link</th>
        <th scope="col">IP</th>
        <th scope="col">First</th>
        <th scope="col">User agent</th>
        <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        <tr>
        <th>{{ action.link.name }}</th>
        <th>{{ action.ip_address }}</th>
        <th>{{ action.user_agent }}</th>
        <th>First</th>
        <th>{{ action.timestamp }}</th>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}