{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center container ">
    <div class="col-lg-4 align-items-center">
    <form action="" method="post" class="form" role="form" >
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email, class='form-control', placeholder='your@email.com') }}
        {{ wtf.form_field(form.password, class='form-control', placeholder='password') }}
        {{ wtf.form_field(form.remember_me, class='form-check-label') }}
        <p><input type=submit class='btn btn-primary'>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    </div>
{% endblock %}
