{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <h3>Your profile</h3>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post" class="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.first_name) }}
                {{ wtf.form_field(form.last_name) }}
                {{ wtf.form_field(form.messenger_type) }}
                {{ wtf.form_field(form.messenger) }}
                <input type="submit" value="Save" class="btn btn-primary">
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-4">
            <p>General reports:</p>
            <a href="{{ url_for('all_actions_report') }}">All clicks</a><br>
            <a href="{{ url_for('all_links_report') }}">All links</a><br>
            <p></p>
            <p>Current link report:</p>
            {% for link in links %}
                <a href="{{ url_for('current_link_report', link_id=link.id) }}">{{ link.name }}</a><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}